body {
	margin: 0;
	background-color: black;
}
.header {
	margin-top:30px;
	color: white;
	font-family: "Lucida Console";
	text-align: center;	
	font-size: 50px;
}
h1 {
	color: white;
	font-family: "Arial", serif;
}
div {
	color: white;
}
.column {
	column-count: 2;
	margin: 100px;
	}
#coco {
	margin-top: 15px;
}
p {	margin-right: 50px;
	text-align: left;
	line-height: 1.5;
	font-size: 16px;
	font-family: "Lucida Console";

}

#tim { margin-left: 100px;
		font-family: "Arial", serif;  }


h2 {
	margin-left:100px;
	font-family: "Arial", serif;
}

.collapsible {
  background-color:transparent;
  color: white;
  cursor: pointer;
 padding: 10px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  margin-left: 100px;
}

.active, .collapsible:hover {
  
}

.content {
	width: 70%;
 	margin-left: 100px;
	padding-left: 30px;
 	max-height: 0;
  	overflow: hidden;
	transition: max-height 0.2s ease-out;
	color: black;
	background-color: white;
  

}

a {
	text-decoration: none;
	font-family: "Arial Black", serif;
	color:black;
}
#quote {
	display: inline-table;
	width: 24%;
	margin-left:100px;
	margin-top:50px;


	}
#myImg {
	margin: 18px;
	height: 350px;


}

#pics {
	margin: 100px;
	background-color: white;
	opacity: 0.6;
	
}
